<div class="row">
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar persona
        </button>
     </div>
     
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
        <img src={{persona.img}} class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="profile">Full Stack Web Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
        <span>
            <h1 id="sobremi">Sobre mí</h1>
            <p id="sobremi">{{persona.descripcion}}</p>
        </span>
    </div>
</div>

